                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     {% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        {% block styles %}
        {% endblock %}

        {% block scripts %}
            {% compress js %}
                {# Third party JS libs #}

                {# Custom JS libs #}

        {% endcompress %}
        {% endblock %}

        {% block local_scripts %}
        {% endblock %}

        {% block local_styles %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
